## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%def name="meta()">
  <script src="https://www.google.com/jsapi?key=ABQIAAAATV8s-yZOF3HmYPluQ5cMWBSc8_2eGK2TJ0LDO8RPpO2cGu9BPxQpxhQ-0VDtf2t9DLJa_xg92SWDXQ" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    ${doc['html']['meta']}
    <title>${doc['html']['title']}</title>
</%def>

<%def name="css()">

blockquote {
  padding: 0.5em 2em;
  background-color: #eee;
}

div.abstract {
    font-style: italic;
    font-size: 110%;
}

div.docinfo_value a {font-style: italic;}

div.docinfo {margin: 1em 0 2em;}

div.docinfo_key {font-size: 110%;}

div.contents {
    margin: 0 0 3em 0;
}

div.contents p {
    padding: 0;
    margin: 1em 0 0 0;
}

div.contents a {color: black;}

div.contents ul {
    margin: 0;
    list-style: none;
}

div.contents>ul{
    -moz-padding-start: 0;
    list-style: decimal;
}

div.contents li {margin: 0;}

.comments {
    margin: 3em 0;
    padding: 1em;
    border: 3px solid gray;
}

/* Pygments */
table.highlighttable {
    background: #f8f8f8;
    width: 660px;
    line-height: 100%;
}

table.highlighttable pre {
    font-size: 80%;
}

div.linenodiv {
    border-right: 1px solid #999;
    padding-right: 0.15em;
}

div.linenodiv pre {
    color: #666;
}

img.eqn {
  padding-top: 0.2em;
}

span.mmleqn {
  display: none;
  white-space: nowrap;
}

@font-face {
  font-family: "STIXGeneral";
  src: url("http://strobe.cc/media/stix/STIXGeneral.otf");
}

@font-face {
  font-family: "STIXGeneral";
  src: url("http://strobe.cc/media/stix/STIXGeneralItalic.otf");
  font-style: italic;
}

math {
  font-family: "skolar-1", "skolar-2", "STIXGeneral", serif;
}

div.align-right {
  float: right;
  position: relative;
  margin-left: 1em;
  width: 240px;
}

div.align-left {
  float: left;
  position: relative;
  margin-left: 1em;
  width: 240px;
}

p.caption {
  font-size: 85%;
}

div.align-right p.caption, div.align-right img.figimg {
  width: 360px;
}

div.align-left  p.caption, div.align-left  img.figimg {
  position: relative;
  width: 360px;
  left: -120px;
}

</%def>

<h1><a href="/${doc['path']}/">${doc['html']['title']}</a></h1>
% if 'abstract' in doc:
<div class="abstract">${doc['abstract']}</div>
% endif

% if not 'nodocinfo' in doc.get('tags', ''):
<div class="docinfo">
    <div class="w3 fl">
        <div class="docinfo_key">Published</div>
        <div class="docinfo_value">
% if 'published' in doc:
${doc['published'].strftime('%d %b %Y')}
% else:
Not yet
% endif
        </div>
    </div>
    <div class="w3 fl">
        <div class="docinfo_key">Edited</div>
        <div class="docinfo_value">${doc['edited'].strftime('%d %b %Y')}
% if doc['changelog']:
<a href="/${doc['path']}/history/">(history)</a>
% endif
        </div>
    </div>
    <div class="w5 fl">
        <div class="docinfo_key">Tagged</div>
        <div class="docinfo_value">
% if 'tags' in doc:
${u' · '.join(doc['tags'])}
% else:
No tags
% endif
        </div>
    </div>
    <div style="clear: both;"> </div>
</div>
% endif
<div class="content">
    ${body}
</div>

<div style="font-size: 90%; padding-top: 2.5em;">
  Other formats:
  <a href="/${doc['path']}/${doc['path']}.pdf">PDF</a>.
  <a href="/${doc['path']}/${doc['path']}.rst">ReStructuredText source</a>.
</div>

% if 'published' in doc and 'Article' in doc.get('tags', ''):
<div id="disqus_thread"></div>
<script type="text/javascript">
  //<![CDATA[
    var disqus_developer = 1;
    var disqus_identifier = "${doc['path']}";
    var disqus_url = "http://strobe.cc/${doc['path']}/";
    var disqus_title = "${doc['html']['title']}";
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://strobecc.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
   })();
  // ]]>
</script>
<noscript><a href="http://disqus.com/?ref_noscript=strobecc">View the discussion thread.</a></noscript>
% endif

<script type="text/javascript">
  //<![CDATA[
$(document).ready(function() {
    $(".fntarget").append(function(idx) {
      return $("#"+$(this).attr("id").replace("_target", ""))
    });
    // check for mathml-compatible browser, enable mathml if ok
    try {
      var pass = false;
      var verstr = navigator.userAgent.match(/rv:(\d+\.\d+).*Gecko\//);
      if (verstr) {pass = parseFloat(verstr[1])>=1.8;}
      verstr = navigator.userAgent.match(/AppleWebKit\/(\d+\.\d+)/);
      if (verstr) {pass = parseFloat(verstr[1])>=999999.;}//not yet
      if (false) { // TODO: disabled, xhtml 1.0 required for comments
        $("img.eqn").css("display: none;");
        $("span.mmleqn").css("display: block-inline;");
      }
    } catch (e) {}
});
  // ]]>
</script>

