## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%def name="meta()">
    ${doc['html']['meta']}
% if 'published' in doc and 'article' in doc.get('tags', ''):
    <script type="text/javascript">
        var disqus_identifier = "${doc['path']}";
        var disqus_url = "http://strobe.cc/${doc['path']}/";
        var disqus_title = "${doc['html']['title']}";
      </script>
% endif
    <title>${doc['html']['title']}</title>
</%def>

<%def name="css()">
div.abstract {
    font-style: italic;
    font-size: 110%;
}

div.docinfo_value a {font-style: italic;}

div.docinfo {margin: 1em 0 2em;}

div.docinfo_key {font-size: 110%;}

div.contents {
    margin: 0 0 3em 0;
}

div.contents p {
    padding: 0;
    margin: 1em 0 0 0;
}

div.contents a {color: black;}

div.contents ul {
    margin: 0;
    list-style: none;
}

div.contents>ul{
    -moz-padding-start: 0;
    list-style: decimal;
}

div.contents li {margin: 0;}

.comments {
    margin: 3em 0;
    padding: 1em;
    border: 3px solid gray;
}

/* Pygments */
table.highlighttable {
    background: #f8f8f8;
    width: 660px;
    line-height: 100%;
}

table.highlighttable pre {
    font-size: 80%;
}

div.linenodiv {
    border-right: 1px solid #999;
    padding-right: 0.15em;
}

div.linenodiv pre {
    color: #666;
}

img.eqn {
  padding-top: 0.2em;
}

span.mmleqn {
  display: none;
  white-space: nowrap;
}

</%def>

<a href="/${doc['path']}/"><h1>${doc['html']['title']}</h1></a>
% if 'abstract' in doc:
<div class="abstract">${doc['abstract']}</div>
% endif

% if not 'nodocinfo' in doc.get('tags', ''):
<div class="docinfo">
    <div class="w3 fl">
        <div class="docinfo_key">Published</div>
        <div class="docinfo_value">
% if 'published' in doc:
${doc['published'].strftime('%d %b %Y')}
% else:
Not yet
% endif
        </div>
    </div>
    <div class="w3 fl">
        <div class="docinfo_key">Edited</div>
        <div class="docinfo_value">${doc['edited'].strftime('%d %b %Y')}
% if doc['changelog']:
<a href="/${doc['path']}/history/">(history)</a>
% endif
        </div>
    </div>
    <div class="w5 fl">
        <div class="docinfo_key">Tagged</div>
        <div class="docinfo_value">
% if 'tags' in doc:
${u' · '.join(doc['tags'])}
% else:
No tags
% endif
        </div>
    </div>
    <div style="clear: both;"> </div>
</div>
% endif
<div class="article_body">
    ${body}
</div>

<div style="font-size: 90%; padding-top: 2.5em;">
  Other formats:
  <a href="/${doc['path']}/${doc['path']}.pdf">PDF</a>.
  <a href="/${doc['path']}/${doc['path']}.rst">ReStructuredText source</a>.
</div>

<script type="text/javascript"><![CDATA[
  function forEachByClass(tag, cls, fn) {
    var elems = document.getElementsByTagName(tag);
    for (var i = 0; i < elems.length; i++) {
      if(elems[i].className == cls) {
        fn(elems[i]);
      }
    }
  }
  window.onload = function() {
    // reposition footnotes
    forEachByClass("div", "fnwrap", function(elem) {
      try {
        var footnote = elem.getElementsByTagName("p")[0];
        var target = document.getElementById(footnote.id + "_target");
        footnote = footnote.parentNode.removeChild(footnote);
        target.appendChild(footnote);
      } catch (e) {}
      })
    // check for mathml-compatible browser, enable mathml if ok
    try {
      var GeckoVerStr = navigator.userAgent.match(/rv:(\d+\.\d+).*Gecko\//);
      if (GeckoVerStr) {
        if (parseFloat(GeckoVerStr[1])>=1.8) {
          forEachByClass("img", "eqn", function(elem) {
              elem.style.display = "none";
          });
          forEachByClass("span", "mmleqn", function(elem) {
              elem.style.display = "inline";
          });
        }
      }
    } catch (e) {}
  }
]]></script>


% if 'published' in doc and 'article' in doc.get('tags', ''):
<div class="comments" id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/strobecc/embed.js"></script><noscript><a href="http://disqus.com/forums/strobecc/?url=ref">View the discussion thread.</a></noscript>
% endif
