## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN" "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <script type="text/javascript" src="http://use.typekit.com/qtl6xkn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="alternate" type="application/rss+xml" title="strobe.cc" href="/feeds/content.xml" />
    ${self.meta()}
    <style type="text/css">
      <%include file="style.css"/>
      <%def name="css()"></%def>${self.css()}
    </style>
  </head>
  <body>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9095438-3]);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
       })();
     </script>

     <div class="topbar">
       <div class="topleft">
         <a href="/">strobe.cc</a>
       </div>
       <div class="topright">
         <a href="/about/">about / source</a>
       </div>
     </div>

     <div class="iwrap"><div class="bcen1"><div class="content">
           ${self.body()}
     </div></div></div>

     <div class="footer">
       <div class="fbar ftop"><div class="iwrap"><div class="bcen1">
             <a class="ftop1l" href="/"><div class="ftop1 fhdr">strobe.cc</div></a>
             <div class="w5 fl">
               <div class="fhdr">I'm Steven Robertson.</div>
               I write things for you and post them here.
               I'm a hacker and musician who just wants to help out.
             </div>
             <div class="w6 fr">
               <div class="fhdr">Current projects</div>
               I'm researching a
               <a href="/fermi">new video codec</a>, maintaining
               <a href="http://code.google.com/p/quodlibet/">Quod Libet</a>,
               exploring CUDA devices and techniques, and
               wrapping up at <a href="http://ucf.edu/">UCF</a>.
             </div>

       </div></div></div>

       <div class="fbar fbot"><div class="iwrap"><div class="bcen1">
             <div class="w5 fl">
               <div class="fs9 fsi">
                 Copyright 2009 by
                 <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type"></span>
                 <a xmlns:cc="http://creativecommons.org/ns#" href="http://strobe.cc" property="cc:attributionName" rel="cc:attributionURL">Steven Robertson</a>.
                 <br />
                 <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">CC Attribution 3.0 US</a>.
                 <a xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://strobe.cc" rel="dc:source"></a>
                 <br />
                 steven@strobe.cc / +1 (813) 728 7254
               </div>
             </div>
             <div class="w6 fr">
               <div class="fhdr">I can be your friend.</div>
               <div class="fhdra">You should follow me on
                 <a href="http://twitter.com/_srobertson/">Twitter.</a>
               </div>
               <div class="fhdr">You can be my boss.</div>
               <div class="fhdra">I will be graduating soon. <a href="/hire_me/">Make me yours.</a></div>
               <br /><br />
             </div>
       </div></div></div>
     </div>
   </body>
 </html>
