## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%def name="meta()">
<title>${doc['html']['title']}</title>
</%def>

<%def name="css()">
div.changelog {
    font-size: 110%;
    color: #111;
}

div.changelog h3 {
  margin-bottom: -1em;
}
</%def>



<a href="/${doc['path']}/"><h1>${doc['html']['title']}</h1></a>
<h2>Article history</h2>

<p>This is the changelog summary for this article and its associated content,
including images and other resources. At this time, the actual
<em>contents</em> of these changes aren't hosted, but you can access them by
checking out the source repository:</p>

<div class="blockcode">
    <code><pre>$ hg clone http://strobe.cc/ strobe_cc</pre></code>
</div>

<p>See the <a href="/about/">about page</a> for more information.</p>

<div class="changelog">
% for rev in doc['changelog']:
<h3>Revision ${rev['id'][:10]}&mdash;${rev['date'].strftime('%d %b %Y')}</h3>
<p>${rev['comment']}</p>
% endfor
</div>

