/* resets */
body, h1, h2, h3, h4, h5, blockquote, pre, code, cite, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
    color: black;
}

img {border: none;}

/* all fonts, for ease of screwing around with typekit */
body {font-family: "skolar-1", "skolar-2", "Skolar", "Georgia", serif;}
div.topbar, .footnote, .footnote-reference, .caption, div.big, div.fhdr, a.ftop1l {
    font-family: "mentone-1", "mentone-2", "Mentone", sans-serif;
}

div.docinfo_key, div.contents p, h2, h3, .smallcaps {
    font-family: "ff-meta-sc-web-pro-1", "ff-meta-sc-web-pro-2", "MetaPlusNormal-Caps", sans-serif;
    text-transform: lowercase;
}

pre, tt {
    font-family: "inconsolata-1", "inconsolata-2", monospace;
}

pre {line-height: normal;}

/* page basics, grid layout. */
.iwrap {
    padding-left: 205px;
    margin-right: 205px;
}

.fwrap {
    padding-left: 90px;
    margin-right: 90px;
}

.bcen1 {
    position: relative;
    margin: auto;
    width: 660px;
}

.fcen1 {
    width: 900px;
    margin: auto;
    padding: 0px;
}

.fcen2 {
    width: 900px;
    margin-left: -90px;
}

a {
    color: #04a;
    text-decoration: none;
}

h1 {font-size: 220%;}

h2, h3 {margin-bottom: 1em;}

h2 {font-size: 135%;}
h3 {font-size: 115%;}

h1 a, h2 a, h3 a, h4 a, h5 a {color: black;}

div.content {
    font-size: 110%;
    color: #111;
    line-height: 140%;
}

.w1,.w2,.w3,.w4,.w5,.w6,.w7,.w8,.w9,.w10,.w11 {padding-right: 15px;}

/* only indent nested lists */
ul {-moz-padding-start: 0;}
ul ul {-moz-padding-start: 60px;}

li {margin: 1em 0;}

.w1 {width: 45px;}
.w2 {width: 105px;}
.w3 {width: 165px;}
.w4 {width: 225px;}
.w5 {width: 285px;}
.w6 {width: 345px;}
.w7 {width: 405px;}
.w8 {width: 465px;}

.fl {float: left;}
.fr {float: right;}
.ma {margin: auto;}

.fw5 {font-weight: 500;}
.fw7 {font-weight: 700;}
.fsi {font-style: italic;}
.fsn {font-style: normal;}
.fs9 {font-size: 90%;}

div.topbar {
    width: 100%;
    min-width: 860px;
    height: 2.5em;
    color: white;
    background-color: #333;
    background: -webkit-gradient(linear, left top, left bottom,
    from(#555), to(#FFF), color-stop(0.8, #111), color-stop(0.8001, #DDD));
    background: -moz-linear-gradient(top, #555, #111 80%, #DDD 80%, #FFF);
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

div.topbar div a {
    color: white;
}

div.topleft {
    padding-left: 5px;
    font-size: 160%;
    float: left;
}

div.topleft a {font-weight: 700;}

div.topright {
    padding: .4em 5px .2em;
    font-size: 110%;
    text-align: right;
}

div.main {
    margin: 5em auto 0;
    min-height: 20em;
}

sup {line-height: 0pt;}

div.fnwrap {
    position: relative;
}

span.fntarget {
    position: absolute;
    left: 0;
}

.footnote {
    color: #333;
    line-height: 110%;
    font-size: 80%;
    position: absolute;
    left: -205px;
    width: 190px;
    padding-right: 15px;
    text-align: right;
}

.footnote-reference {
    font-size: 90%;
}

div.fnwrap .footnote {
    top: -45px;
}

span.fntarget .footnote {
    margin: 0;
}

/* all footer stuff */
div.footer {
    display: inline;
    position: relative;
    margin: 0;
    padding: 0;
}

div.footer>div>div>div>div a {
    color: #acf;
}

div.fbar {
    width: 100%;
    min-width: 900px;
    padding: 10px 0;
    color: white;
    margin: 0;
}

div.ftop {
    background-color: #222;
    height: 90px;
    margin-top: 4em;
    background: -webkit-gradient(linear, left top, left bottom,
    from(#444), to(#111));
    background: -moz-linear-gradient(top, #444, #111);
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

div.fbot {
    height: 175px;
    background-color: #111;
}

div.fhdr {
    font-weight: bold;
}

div.fhdra {padding-bottom: .6em;}

div.fhdrb {margin-bottom: 0em;}

div.ftop1 {
    position: absolute;
    left: -180px;
    width: 160px;
    padding: 0 15px 0 5px;
    line-height: 90px;
}

a.ftop1l {
    font-size: 200%;
    font-weight: 700;
    color: white;
}
